.box {
  width: 30%;
  background-color: #c2999962;
  padding: 3.5rem;
  border: 1px solid #b68588;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}