.box {
  width: 30%;
  background-color: #c2999962;
  padding: 6rem;
  border: 1.5px solid #b68588;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input {
  border: 1px solid #b68588;
  border-radius: 5px;
  width: 20rem;
  font-size: 1rem;
  color: #000000;
  padding: 0.5rem;
}